@import 'nib'

color_dark=rgba(0, 0, 0, 0.7)
color_blue=#3498db
color_red=#ff5e37
background_light=#eeeeee
background_dark=#283442

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color #fafafa
  color color_dark
  font-size 14px
  font-weight 400

.header
  display flex
  justify-content space-between
  border-bottom 1px solid color_dark
  .logo
    border-right 1px solid color_dark
    padding 15px
    a
      display block
      width 60px
      height 60px
      transition transform ease-in 0.2s
      img
        width 100%
        height 100%
        border-radius 50%

      &:hover
        transform scale(1.2)

  .nav-bar
    padding 15px
    #toggle-nav
      display none
      cursor pointer

    #nav-feature
      display block
      text-align center
      list-style none
      li
        display inline-block
        font-size 20px
        a
          display block
          color color_dark
          font-weight 500
          text-decoration none
          padding  20px

  .social
    border-left 1px solid color_dark
    padding 15px
    a
      display block
      width 60px
      height 60px
      transition transform ease-in 0.2s
      img
        width  100%

      &:hover
        transform scale(1.2)
.social-wrapper
  padding-bottom 84px
#main-footer
  height 50em
  position relative
  background background_dark
  &:before
    content ''
    position absolute
    left 0
    top 0
    width 100%
    height 5px
    background repeating-linear-gradient(
      -45deg,
      color_blue,
      color_blue 7px,
      background_light 7px,
      background_light 14px,
      color_red 14px,
      color_red 21px,
      background_light 21px,
      background_light 28px
    )

@media screen and (max-width 480px)
  .header .nav-bar #toggle-nav
    display block

  .header .nav-bar #nav-feature
    display none

